* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap'); */
@font-face {
    font-family: QuireSans;
    src: url(fonts/QuireSans.ttf);
}
h1
{
    color: white;
}
body {
    background-color: rgb(255 255 255);
    font-family: QuireSans;
    /* position: relative; */
}

.nav {
    width: 100%;
    padding: 5px 10%;
    font-weight: 700;
    /* background-color: red; */
}

.nav ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    justify-content: center;
    /* justify-content: space-evenly; */
    /* background-color: yellow; */
    /* justify-content: center;*/
    align-items: center;
    margin: 0;

    /* height: 100px; */
}

.nav li {
    height: 50%;
    /* height: fit-content; */
    width: calc(100%/5);
    border-radius: 10px;
    transition: .2s;

    /* background-color: blue; */
}

.logo img {
    width: 100%;
    /* background-color: red; */
    /* height: 50px; */
    height: 100%;
}

.nav a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 100%;

}

.nav li:hover {
    background-color: rgb(155, 255, 208);
}

main {
    width: 100%;
    padding: 0 10%;
    height: 60vh;
    position: relative;
    /* background: linear-gradient(to right, rgb(118, 226, 175) 0%, transparent, transparent); */
        background: linear-gradient(to right,rgb(118, 226, 175) 0% , white 8%,transparent,transparent);

}

.media img {
    width: 100%;
    height: 100%;
    /* background-color: green; */
}

.bg-video {
    width: 100%;
    height: 100%;
}

footer {
    /* background: linear-gradient(to top,#16181f 4%,transparent,transparent); */
    /* background: linear-gradient(to right,#16181f 1%,transparent,transparent); */
    /* position: absolute; */
    position: relative;
    bottom: 0;

    width: 100%;
    height: 150px;
    /* background-color: yellow; */
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.overlay-1 {
    width: 15%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(to right, rgb(118, 226, 175) 0%, transparent, transparent);
}

.media {
    /* border: 1px solid black; */
    position: relative;
    /* height: 300px; */
}

.home-slider {
    /* background-color: red; */
    /* padding: 0 10%; */
    height: 60vh !important;

}

.slider-item {
    height: 60vh !important;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white !important;
    /* background-size: contain !important; */
    /* border: 2px solid green; */
}

.owl-dots {
    bottom: 50px !important;
}

.overlay-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(to top, rgb(118, 226, 175) 0%, transparent, transparent);
}


.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;


}

.social-icons {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    bottom: 150px;
}

.soon {
    margin-top: 20px;
}

.text-overlay
{
    background-color: #2d3e50;
    padding: 10px;
}

@media(max-width:576px) {
    .logo {
        margin: 0 auto;
    }

    .logo img {
        width: 200%;
        margin-left: -30px;
    }

    .nav {
        padding: 25px 0;
        font-size: small;
        height: fit-content;
        height: 100px;
    }


    .socials {
        flex-direction: column;
    }

    ul {
        padding: 0;
        display: flex;
    }
    .soon
    {
        margin-top: 0
    }
    footer {
        height: 200px;
        /* padding-top: 50px; */
    }

}